<div layout="row">
    <div flex>
        <md-list class="md-dense">
            <md-subheader class="md-no-sticky"></md-subheader>
            <md-list-item class="md-3-line" ng-repeat="employee in dirCtrl.employees" ng-click="dirCtrl.showEmployee(employee)">
                <i class="material-icons md-avatar">account_circle</i>
                <div class="md-list-item-text" layout="column">
                    <h3>{{employee.name}}</h3>
                    <h4>{{employee.employeeNo}}</h4>
                    <p>{{employee.designation}}</p>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <div layout-padding class="content-right">
        <div layout="column" ng-cloak layout-align="center center">
            <div ng-show="!dirCtrl.selectedEmployee" class="no-selection">
                <p class="md-body-1">Select an employee to view further information</p>
            </div>
            <md-content class="md-no-momentum" ng-show="dirCtrl.selectedEmployee" layout-align="center center">
                <h3 class="md-headline">{{dirCtrl.selectedEmployee.name}}<small> ({{dirCtrl.selectedEmployee.employeeNo}})</small></h3>
                <p class="md-body-1">{{dirCtrl.selectedEmployee.designation}}</p>
                
            </md-content>
        </div>
    </div>
</div>