<div layout="column">
    <div>
        <md-subheader class="md-no-sticky">
            <md-input-container md-no-float class="md-block" layout="row">
                <md-icon>
                    <ng-md-icon icon="search"></ng-md-icon>
                </md-icon>
                <input placeholder="Search for Employees" autocomplete="off">
            </md-input-container>
        </md-subheader>
    </div>
    <div layout="row" ng-cloak layout-wrap class="employee-directory">
        <md-card ng-repeat="employee in dirCtrl.employees">
            <md-card-header>
                <md-card-avatar>
                    <user-avatar></user-avatar>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{employee.name}}</span>
                    <span class="md-subhead">{{employee.designation}}</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="dirCtrl.showEmployee(employee)">View</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
        <md-content layout-padding>
            <form>
                <md-input-container>
                    <label for="testInput">Test input</label>
                    <input type="text" id="testInput" ng-model="data" md-autofocus>
                </md-input-container>
            </form>
            <md-button ng-click="close()" class="md-primary">
                Close Sidenav Right
            </md-button>
        </md-content>
    </md-sidenav>
</div>