[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Login - Start */
.login{
    padding-top:100px;
}

.login md-input-container{
    margin:8px 0px;
} 
/* Login - End */

/* Sidebar - Start*/
md-sidenav {
  fill: #737373;
}
md-sidenav ng-md-icon {
  position: relative;
  top: 5px;
}

.user-avatar {
  border-radius: 99%;
}

.md-toolbar-tools-bottom {
  font-size: small;
}
.md-toolbar-tools-bottom :last-child {
  opacity: 0.8;
}

/* Sidebar - End */

.employee-directory md-card-avatar{
    width:60px;
    height:60px;
}