[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Login - Start */
.login{
    padding-top:100px;
}

.login md-input-container{
    margin:8px 0px;
} 
/* Login - End */

/* Sidebar - Start*/
md-sidenav md-list{
    padding: 0px;
}

md-sidenav {
    width:250px;
}

md-sidenav .active{
    background-color:#6a81f7;
    color:#FFFFFF;
}
/* Sidebar - End */

/* Right content - Start */
.content-right{
    width:350px;
    border-left:1px solid #6a81f7;
}
.content-right .no-selection{
    padding-top:100px;
}

/* Right Content - End */