<html ng-app="TheHub" ng-controller="AppController as appCtrl">

<head>
    <link href="angular/angular-material.min.css" rel="stylesheet" />
    <link href="views/stylesheets/default.css" rel="stylesheet" />
    <title ng-cloak>The Hub - {{common.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="sideNavContainer" layout="row" ng-cloak>
        <md-sidenav ng-show="auth.isAuthenticated" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-tall md-hue-2">
                <span flex></span>
                <div layout="column" class="md-toolbar-tools-bottom inset">
                    <user-avatar></user-avatar>
                    <div layout-padding></div>
                    <div>{{auth.user.name}}</div>
                    <div>pavan@gmail.com</div>
                </div>
            </md-toolbar>
            <md-list>
                <md-subheader ng-repeat-start="item in appCtrl.menu">{{item.label}}</md-subheader>
                <md-list-item ng-repeat="each in item.menuItems" ng-click="appCtrl.navigateTo(each.url)" layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="{{each.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">{{each.title}}</div>
                </md-list-item>
                <md-divider ng-repeat-end></md-divider>
            </md-list>
        </md-sidenav>
        <div layout="column" class="relative" layout-fill role="main">
            <md-toolbar ng-cloak>
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ng-show="auth.isAuthenticated" hide-gt-md ng-click="appCtrl.openLeftMenu()">
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                    <span>The Hub - {{common.title}}</span>
                </div>
            </md-toolbar>
            <md-content flex layout="row" md-scroll-y>
                <div ng-view flex></div>
            </md-content>
        </div>
    </div>

    <script src="angular/angular.min.js" type="text/javascript"></script>
    <script src="angular/angular-route.min.js" type="text/javascript"></script>
    <script src="angular/angular-animate.min.js" type="text/javascript"></script>
    <script src="angular/angular-aria.min.js" type="text/javascript"></script>
    <script src="angular/angular-messages.min.js" type="text/javascript"></script>
    <script src="angular/angular-material.min.js" type="text/javascript"></script>
    <script src="angular/angular-material-icons.min.js"></script>
    <script src="app.module.js" type="text/javascript"></script>
    <script src="factories/user.factory.js" type="text/javascript"></script>
    <script src="directives/user.avatar.js" type="text/javascript"></script>
    <script src="app.routes.js" type="text/javascript"></script>
    <script src="controllers/app.js" type="text/javascript"></script>
    <script src="controllers/home.js" type="text/javascript"></script>
    <script src="controllers/login.js" type="text/javascript"></script>
    <script src="controllers/directory.js" type="text/javascript"></script>
    <script src="filters/fillers.js" type="text/javascript"></script>

</body>

</html>