<html>

<head>
    <link href="angular/angular-material.min.css" rel="stylesheet" />
    <link href="views/stylesheets/default.css" rel="stylesheet" />
</head>

<body ng-app="TheHub">
    <div id="sideNavContainer" ng-controller="AppController as ctrl" layout="column" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" hide-gt-md ng-click="ctrl.openLeftMenu()">
                    <i class="material-icons">menu</i>
                </md-button>
                The Hub
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content>
            <div layout="row" layout-align="stretch">
                <div ng-if="isAuthenticated">
                    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="4">
                        <md-content layout-padding>
                            asdfasdfsfsdfasdf
                        </md-content>
                    </md-sidenav>
                </div>
                <div>
                    <div ng-view></div>
                </div>
            </div>
        </md-content>
    </div>

    <script src="angular/angular.min.js" type="text/javascript"></script>
    <script src="angular/angular-route.min.js" type="text/javascript"></script>
    <script src="angular/angular-animate.min.js" type="text/javascript"></script>
    <script src="angular/angular-aria.min.js" type="text/javascript"></script>
    <script src="angular/angular-messages.min.js" type="text/javascript"></script>
    <script src="angular/angular-material.min.js" type="text/javascript"></script>
    <script src="app.module.js" type="text/javascript"></script>
    <script src="factories/user.factory.js" type="text/javascript"></script>
    <script src="app.routes.js" type="text/javascript"></script>
    <script src="controllers/app.js" type="text/javascript"></script>
    <script src="controllers/home.js" type="text/javascript"></script>
    <script src="controllers/login.js" type="text/javascript"></script>
    
</body>

</html>